<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
  <div class="card">
    <div class="card-block">
      <div class="title-block">
        <h4 class="title">Exchange rate of NBU</h4>
      </div>
      <div class="row row-sm stats-container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Currency</th>
            <th>Exchange Rates</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let currency of currencies">
            <th>{{ currency['cc'] }}</th>
            <th>{{ currency['rate'] | number:'1.2' }}</th>
            <th>{{ currency['exchangedate'] }}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>